{% extends "model-page.html" %}
{% block content %}
<h2>Agendamentos</h2>
<a href="/agenda/evento"> 
    <button>Novo Evento</button>
</a>
<ul>
    {% for event in events %}
        
        <div style="font-size: 18px">
            {% if event.is_late %}
                <li style="color:red">
            {% else %}
                <li>
            {% endif %}
                {{event.title}} - {{event.get_event_date}} - {{event.user}}
                <a href="edit/?id={{event.id}}">
                    <button>Editar</button>
                </a>
                <a href="delete/{{event.id}}/">
                    <button>Remover</button>
                </a>
            </li> 
            
        </div>
    {% endfor %}
</ul> 
{% endblock %}